body {
    width: 1000px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.container {
    border: 1px solid black;
    padding: 0 10px;
}

.lampiran {
    display: flex;
    /* border: 1px solid black; */
    line-height: 0;
}

.text-lampiran {
    /* background-color: blue; */
    flex: 5;
    /* background-color: blue; */
}
.text-lampiran2 {
    /* background-color: blue; */
    flex: 6;
    padding: .5px;
    /* background-color: brown; */
    /* border: 1px solid black; */
}

.text-lampiran-footer {
    /* background-color: blue; */
    flex: 1;
}
.text-lampiran-footer {
    /* background-color: blue; */
    flex: 1;
    padding: .5px;
    line-height: 0;
    /* border: 1px solid black; */
}



.formulir {
    width: fit-content;
    display: flex;
    text-align: center;
}

.con-formulir {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aqua;
}





